


.btn__size{
    border-radius: 60px;
    height: 0;
    width: 0px;
    background-color: black;
    color: black;
    outline: none;
  
    
}
.app__folder {
    
}

.app__start{
    margin-top: 520px;
    z-index: 2;
}

.btn__main{
    
    margin-left: 50px;
   
}

