

.menu {
    background-color: rgba(0, 0, 0, 0.9);
    height: 450px;
    width: 240px;
    margin-top: -445px;
    margin-left: 53px;
    border-top-right-radius: 20px;
}

.avatar{
    margin-left:85px ;
    
}

.menu > h3 {
    color: white;
    margin-left: 85px;
}